@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547; /* Default to light theme text color */
  background-color: #ffffff; /* Default to light theme background color */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
}
a:hover {
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gray-400);
  border-radius: var(--radius-md);
}
input:focus {
  border-color: var(--color-gemini-blue);
  outline-style: none;
}

.main-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: #1c2d51;
  color: white;
}
.main-button:hover {
  background-color: #3d507c;
}
.main-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.secondary-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: var(--color-gray-200);
  color: #1c2d51;
}
.secondary-button:hover {
  background-color: var(--color-gray-300);
}
.secondary-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@theme {
  --color-medium-azure-alpha: #29649b2f;
  --color-gemini-blue: #1c2d51;
  --color-gemini-blue-hover: #3d507c;
  --color-success: #155724;
  --color-success-2: #d4edda;
  --color-error: #721c24;
  --color-error-2: #f8d7da;
  --color-table-hl: #e6efff;
}
